
body{
    background-color:#fff;
}

body a {
    font-family: arial, sans-serif;
    font-size: 13px;
}

li{
    float:left;
}

li a{
    display:block;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    color: black;
    opacity: 0.75;
}

a:hover{
    text-decoration: underline;
}

.options{
    margin-top: 109px;
}

.googlelogo{
    display:block;
    margin: 0 auto;
    padding-bottom: 25px;
}

.searchinp{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #dfe1e5;
    border-radius: 40px;
    height: 44px;
    width: 582px;
    align-self: center;
    justify-content: space-around;
    margin-bottom: 35px;
}

.icon{
    padding:20px;
}
#searchinput{
    border:none;
    border-radius: 50px;
    height: 38px;
    width: 582px;
}

.submit-button{
    display: flex;
    justify-content: center;
    
}

.submit-button button {
    
    color: #5f6368;
    margin: 15px 5px;
    padding: 0px 16px;
    height: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

.header{
  height: 47px;
  padding-left: 15px;
  margin-top: 12px;
  margin-right: 30px;
}

.footer{
    display:block;
    height: 40px;
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
    position:fixed;
    bottom:0;
    width: 100%;
}

.footer a{
    display: inline-block;
    padding-left:27px;
    padding-top:15px;
    padding-right:27px;
    font-size: 14px;
}
